\#*#
*#
.#*
.*~
*~
*.elc
*.log
.DS_Store
locals.zsh
.zsh_history
projects.zsh
*.swp
*.dat
emacs/.cask
emacs/elpa
emacs/elisps
emacs/ac-comphist.dat
emacs/.emacs.desktop*
emacs/.mc-lists.el
emacs/history
emacs/bookmarks
emacs/projectile-bookmarks.eld
emacs/projectile.cache
emacs/tramp
