\#*#
*#
.#*
.*~
*~
*.elc
*.log
.DS_Store
locals.zsh
.zsh_history
projects.zsh
*.swp
*.dat
.emacs.d/elpa/archives/*
.emacs.d/.emacs.desktop*
.emacs.d/.mc-lists.el
.emacs.d/bookmarks
.emacs.d/projectile-bookmarks.eld
